body{
    background-image: url(Wallpapers.jpg);
    margin: 0px;

}
.main_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
}

.log_box{
        background-color: #fff;
        border: 2px solid;
        width: 80%;
        padding: 1%;
        font-size: 20px;
    }

.hp{
    color: red;
    font-weight: bold;
    
}
.estamina{
    color: green;
    font-weight: bold;
}
/* .num{
    outline: #fff dotted thick;
} */
.detalhe{
    background-color: #fff;
    border: 2px solid;
    width: 30%;
    padding: 1%;
    font-size: 20px;
    background-image: url(tabela.jpg);
}
.main_box2{
    display: block;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
}
.invent{
    display: block;
    background-color: #fff;
    border: 2px solid;
    width: 40%;
    padding: 1%;
    font-size: 20px;
    background-image: url(tabela.jpg);
}
.habilidades{
    display: flex;
}
.char{
    background-color: #fff;
    border: 2px solid;
    padding: 3%;
    margin: 1%;
    font-size: 20px;
    background-image: url(tabela.jpg);
}
.char_invent{
    display: block;
    background-color: #fff;
    border: 2px solid;
    width: 80%;
    padding: 2%;
    font-size: 20px;
    background-image: url(tabela.jpg);
}
h1{
    font-size: 20px;
    color: #fff;
    font-weight: bold
}
h2{
    color: #fff;
    font-weight: bold;
    }
td{
    color: #fff;
}
th{
    color: #fff;
}
.end{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    background-image: url(buttom.jpg);
    height: 40px;
    width: 10%;
    font-size: 10px;
}

.dado{
    width: 150%;
}

.skills{
    display: flex;
    justify-content: center;
    font-size: 15px;
    word-wrap: break-word;  
}
.skills_ativa{
    display: block;
    justify-content: flex-start;
    width: 20%;
    font-size: 11px;
    word-wrap: break-word;  
}
.skills_passiva{
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    word-wrap: break-word;  
}
.skills_reduc{
    height: 70px;
    display: block;
    justify-content: flex-start;
    font-size: 15px;
    word-wrap: break-word;  
}
label.skill{
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 1%;
    border: 2px outset;
    margin:2%;
}
.skill{
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 1%;
    border: 2px outset;
    margin:2%;
}
.skill_passiva{
    background-color: #fff;
    width: 15%;
    height: 100%;
    padding: 1%;
    border: 2px outset;
    margin:2%;
}
.minion_skill{
    background-color: #fff;
    display: block;
    width: 150%;
    height: 100%;
    padding: 1%;
    border: 2px outset;
    margin:2%;
}
@media (max-width: 786px) {
    html{
        padding: 0%;
    }
    .detalhe{
        background-color: #fff;
        border: 2px solid;
        margin: 0%;
        width: 98%;
        font-size: 16px;
        background-image: url(tabela.jpg);
    }
    .main_box2{
        display: block;
        justify-content: space-around;
        font-family: 'Times New Roman', Times, serif;
        font-size: 11px;
        padding: 0%;
        width: 100%;
        font-weight: bold;
    }
    .invent{
        display: block;
        background-color: #fff;
        border: 2px solid;
        width: 98%;
        padding: 1%;
        font-size: 12px;
        background-image: url(tabela.jpg);
        margin-bottom: 3%;
    }
    .habili{
        display: flex;
        background-color: #fff;
        border: 2px solid;
        width: 104%;
        padding: 1%;
        font-size: 12px;
        background-image: url(tabela.jpg);
        margin-bottom: 3%;
    }
    .skills{
        display: flex;
        justify-content: center;
        width: 70%;
        font-size: 11px;
        word-wrap: break-word;  
    }
    .skill_passiva{
        background-color: #fff;
        width: 15%;
        height: 100%;
        padding: 1%;
        border: 2px outset;
        margin:2%;
    }
    .skills_ativa{
        display: flex;
        justify-content: flex-start;
        width: 30%;
        font-size: 11px;
        word-wrap: break-word;  
    }
    .skill{
        background-color: #fff;
        width: 25%;
        border: 2px outset;
        margin:2%;
    }
}
